dialog {
    border: transparent;
    background-color: transparent;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow: visible;
    padding: 0;
}

.employee-container {
    background: white;
    margin: 0 auto;
    padding: 20px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    text-align: center;
}
.header h1{
    margin: .2em;
}
.header img {
    width: 5em;
    margin-bottom: 6px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    color: #006400;
}

.subtitle {
    font-weight: bold;
    margin-top: 4px;
    color: #000;
}

.employee-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.info-two-line{
    display: flex;
    margin: 10px 0px 5px;
}
.info-label {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    display: inline-block;
    width: 100%;
    margin: 0;
}
.info-value {
    font-size: 15px;
    margin: 0;
}
.pay-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: 30px;
    align-items: start;
}

.section-title {
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
    border-bottom: 3px solid #000;
    padding-bottom: 6px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15.5px;
}

td {
    padding: 8px 0;
    color: #000;
}

.label-col {
    width: 70%;
}

.amount-col {
    text-align: right;
    width: 30%;
    font-weight: 500;
}

.total-row td {
    font-weight: bold;
    color: #000;
    border-top: 3px solid #000;
    padding-top: 14px;
}

.netpay {
    text-align: right;
    font-size: 21px;
    font-weight: bold;
    margin-top: 40px;
    color: #000;
}

.footer {
    text-align: center;
    margin-top: 70px;
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 50px;
}
.line{
    width: 65%;
    border-top: 1px solid black;
    margin: 15px auto 5px auto;
}