.container {
        display: flex;           
        height: 100vh;          
        }
        .main-content {
        flex: 1;               
        padding: 30px;
        }
        /* Add Button */
        .btn-add {
         background-color: #6DC4D7;
         color: white;
         border: 1px solid black;  
         padding: 10px 20px;
         border-radius: 3px;
         cursor: pointer;  
         }

        .btn-add:hover {
         background-color: #519eaf;
        }

        /* Edit Button */
        .btn-edit {
         background-color: #6DC4D7;
         color: white;
         border: 1px solid black;  
         padding: 10px 20px;
         border-radius: 3px;
         cursor: pointer;
        }

        .btn-edit:hover {
         background-color: #519eaf;
        } 

        /* Icon size */
        .btn-add i, .btn-edit i {
         font-size: 14px;
         padding: 4px;
         }

    
         /* table */
         /* MAIN WRAPPER */
        .emp-table-wrapper {
         background: white;
         padding: 25px;
         border: 1px solid #000;  /* Black border */
         border-radius: 10px;
         margin-top: 20px;
         }
 
        /* HEADER: LEFT (title) + RIGHT (search bar) */
        .emp-table-header {
        display: flex;
        justify-content: space-between; /* left + right */
        align-items: center;
        margin-bottom: 10px;
        }

        /* TITLE */
        .emp-table-title {
        font-size: 22px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        }

        /* SEARCH BAR */
        .emp-search-box input {
        padding: 8px 14px;
        border: 2px solid #000; /* consistent black border */
        border-radius: 6px;
        font-size: 14px;
        width: 230px;
        outline: none;
        }

        /* SEARCH BAR HOVER/FOCUS */
        .emp-search-box input:focus {
        border-color: #0077ff;
        }

        /* DIVIDER LINE BELOW HEADER */
        .emp-divider {
        width: 100%;
        height: 1px;
        background: #00000030; /* light grey */
        margin: 10px 0 15px 0;
       }

       /* TABLE */
       .emp-table {
        width: 100%;
        border-collapse: collapse;
        }

       .emp-table thead th {
        text-align: left;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        }

        .emp-table tbody td {
        padding: 10px 0;
        font-size: 14px;
       }

       .emp-more-btn {
       border: none;
       background: none;
       font-size: 20px;
       cursor: pointer;
       }