.container {
        display: flex;           
        height: 100vh;          
}
.main-content {
        flex: 1;
        padding: 30px;
}

.payroll-table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    align-items: start;
    padding: 25px;

}

/* Header cells */
.payroll-table th {
    background: #eaeaea;   
    text-align: center;      
    padding: 12px;         
    font-weight: bold;     
}

/* Body cells */
.payroll-table td {
    padding: 12px;                 
    border-bottom: 1px solid #ddd;
    text-align: center; 
}

/* Row hover effect */
.payroll-table tr:hover {
    background: #f1f1f1; 
}

/* Styling the "View" link */
.view-link {
    color: #0066ff;        
    text-decoration: none;  
    font-weight: bold;      
}