body {
    font-family: Arial, sans-serif;
    background:white;
    margin: 0;
}

/* Title spacing */

.layout {
    display: flex;
    align-items: start;      
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 200px;
    min-height: 100vh;
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
}

/* Logo */
.logo {
    text-align: center;
}

.logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Menu Title */
.menu-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 20px 0;
    color: #000;
}

/* Menu List */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.menu-item {
    padding: 12px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.menu-list li .icon {
    margin-right: 8px;
}

/* Active item */
.menu-item:hover {
    background: #003c0f;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.menu-item.active {
    background: #003c0f;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

/* Table container design */
.payroll-table {
    width: 86%;                  
    background: white;            
    border-collapse: collapse;    
    border-radius: 10px;          
    overflow: hidden;             
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin-left: 35px;
    display: flexbox;
    margin-top: 250px;

}

/* Header cells */
.payroll-table th {
    background: #eaeaea;   
    text-align: center;      
    padding: 12px;         
    font-weight: bold;     
}

/* Body cells */
.payroll-table td {
    padding: 12px;                 
    border-bottom: 1px solid #ddd;
    text-align: center; 
}

/* Row hover effect */
.payroll-table tr:hover {
    background: #f1f1f1; 
}

/* Styling the "View" link */
.view-link {
    color: #0066ff;        
    text-decoration: none;  
    font-weight: bold;      
}

